<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Library</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <div id="navbar-div">
    <form action="/" method="get" id="navbar">
      <button class="btn btn-primary" type="submit" id="home">Home</button>
    </form>
    <form action="/clients" method="get" id="navbar">
      <button class="btn btn-primary" type="submit" id="clients">Clients</button>
    </form>
    <form action="/stylists" method="get" id="navbar">
      <button class="btn btn-primary" type="submit" id="stylists">Stylists</button>
    </form>
    <form action="/add/client" method="get" id="navbar">
      <button class="btn btn-primary" type="submit" id="add_client">Add a Client</button>
    </form>
    <form action="/add/stylist" method="get" id="navbar">
      <button class="btn btn-primary" type="submit" id="add_stylist">Add a Stylist</button>
    </form>
  </div>
  <br>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
