<h1>Add a Stylist</h1>

  <form action = "/stylists" method = "post">
    <div-class = "form-group">
      <label id = "name">Enter the name of the stylist:</label>
      <input id = "name" name = "name" class="form-control" type="text">
    </div>

    <button type = "submit" class="btn-success">Add Stylist </button>
  </form>
